<div class="conteiner mt-5">
  <div id="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body">
          <h3 class="titulo">TARJETA CREDITO</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4 mx-auto">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="titulo">AGREGAR TARJETA</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="titulo">LISTADO DE TARJETAS</h5>
          <table class="table">
            <tbody>
              <tr>
                <td>Juan Perez</td>
                <td>1231231231231231</td>
                <td>11/23</td>
                <td>
                  <i class="far fa-edit text-info"></i>
                </td>
                <td>
                  <i class="fas fa-trash text-danger"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
